@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Kumar+One+Outline&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

.page1-main{
    height:100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 0px 0px 150px 150px;
}

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.page1-main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.box1, .box2{
    z-index: 2;
}

.box1{
    height: 100vh;
    width: 50%;
    /* border: 2px solid white; */
    position: relative;
}
.box2{
    height: 100vh;
    width: 50%;
    /* border: 2px solid white; */
    /* align-items: center; */
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left:2rem ;
    position: relative;
}
.box2 img{
    height: 700px;
    padding-left:4rem ;
    width: 660px;
}

.box1 b{
    font-family: elastic;
  font-size: 26rem;
  font-weight: bolder;
  background-image: linear-gradient(360deg, #f0ce94, rgb(227, 224, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-top: 100px; */
  padding-left: 2rem;
 
  line-height: 1.4;
}
.box1 i{
    text-decoration: line-through;
}

.box1 h1{
    font-family: elastic;
  font-size: 1.5rem;
  line-height: 0.9;
  /* margin-top: 1rem; */
  font-weight: 400;
  position: absolute;
  left: 4rem;
  /* padding-left: 2rem; */
  width: 900px;
  bottom: 3.5rem;
  /* border: 2px solid wheat; */
}

.signature{
    font-family: "Corinthia", cursive;
    font-size: 3rem;
    position: absolute;
    top: 0%;
    left: 3rem;
    z-index: 2;
    /* font-weight: 100; */
    font-style: italic;
    /* background-image: linear-gradient(360deg, #E0E0E0, rgb(227, 224, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #b0aeaee1;
}

/* Tablet and smaller laptops */
@media (max-width: 1024px) {
    .box1 b{
        font-size: 18rem;
    }
    
    /* .box1 h1{
        font-size: 1.4rem;
    } */
    
    .box2 img{
        height: 550px;
        width: 500px;
        padding-left: 2rem;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .page1-main{
        flex-direction: column;
        align-items: center;
        border-radius: 0px 0px 50px 50px;
    }
    
    .box1{
        width: 100%;
        height: auto;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .box2{
        width: 100%;
        height: auto;
        padding: 2rem 0;
        justify-content: center;
        align-items: center;
    }
    
    .box1 b{
        font-size: 12rem;
        padding-left: 1rem;
    }
    
    /* .box1 h1{
        font-size: 1.2rem;
        padding-left: 1rem;
    } */
    
    .box2 img{
        height: 400px;
        width: 350px;
        padding-left: 0;
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    .page1-main{
        border-radius: 0px 0px 30px 30px;
    }
    
    .box1 b{
        font-size: 8rem;
        padding-left: 1rem;
    }
    
    /* .box1 h1{
        font-size: 1rem;
        padding-left: 1rem;
        line-height: 1.3;
    } */
    
    .box2 img{
        height: 300px;
        width: 250px;
    }
}

/* Small mobile devices */
@media (max-width: 360px) {
    .box1 b{
        font-size: 6rem;
    }
    
    /* .box1 h1{
        font-size: 0.9rem;
    } */
    
    .box2 img{
        height: 250px;
        width: 200px;
    }
}


